@using exp_4_Models.Models
@model Product
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Ürün ekle</h2>

@*Yeni ürün bilgilerini almak için form oluşturulur.*@

@using (Html.BeginForm("Add", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <div class="mb-3">
        @Html.LabelFor(x => x.ProductName, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(x => x.ProductName, htmlAttributes: new { @class = "form-control" }) @*cz textbox is a form control.*@
        @Html.ValidationMessageFor(x => x.ProductName, "", htmlAttributes: new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.UnitPrice, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(x => x.UnitPrice, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UnitPrice, "", htmlAttributes: new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.UnitsInStock, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(x => x.UnitsInStock, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UnitsInStock, "", htmlAttributes: new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.CategoryId, htmlAttributes: new { @class = "form-label" })
        @*dropdownlistten category seçme*@
        @*GEREK VAR MI @Html.ValidationMessageFor(x => x.CategoryId,"",htmlAttributes: new {@class="text-danger"})*@
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>

}

